<!--Testing blob button here
<div>
<div class="footer-container">
  <div class="box">
    <div></div>
  </div>
<div class="buttons">
  <button class="blob-btn" routerLink="/contact">
    Let's do this!
    <span class="blob-btn__inner">
      <span class="blob-btn__blobs">
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
      </span>
    </span>
  </button>
  <br/>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
      <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
    </filter>
  </defs>
</svg>
</div>
</div>-->

<!--Testing container here!-->
<!--<div class="box">
  <div></div>
</div>
<div class="container-fluid p-5 footer-container sticky-bottom">
  <div class="col-sm-12">
  <a routerLink="/home">
    <img src="assets/images/cjLogoDabs.svg" class="mx-auto d-block" width="160" height="160" alt="">
  </a>
  </div>
<div class="col-sm-12">
<div class="buttons">
  <button class="blob-btn" routerLink="/contact">
    Let's do this!
    <span class="blob-btn__inner">
      <span class="blob-btn__blobs">
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
      </span>
    </span>
  </button>
  <br/>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
      <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
    </filter>
  </defs>
</svg>
</div>
</div>
</div>-->

<!--Testing navbar here!-->
<div class="box">
  <div></div>
</div>
<nav class="navbar navbar-expand-sm justify-content-center purple-bg flex-column pt-5">
  <!-- Brand/logo -->
  <a routerLink="/home">
    <img src="assets/images/cjLogoDabs.svg" alt="logo" style="width:140px;">
  </a>
  <div class="buttons">
    <button class="blob-btn" routerLink="/contact">
      Let's do this!
      <span class="blob-btn__inner">
        <span class="blob-btn__blobs">
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
        </span>
      </span>
    </button>
    <br/>
  
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
        <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
      </filter>
    </defs>
  </svg>
  </div>
</nav>