<!--<ul class="nav navbar-nav">
    <li routerLinkActive="active">
      <a routerLink="/about" class="text-uppercase text-decoration-none">about</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/contact" class="text-uppercase text-decoration-none">let's do this</a>
    </li>
</ul>-->
<div class="box">
  <div>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active">
      <a routerLink="/about" class="text-uppercase text-decoration-none white text-vert mt-padding">about</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/contact" class="text-uppercase text-decoration-none white text-vert">let's get to work</a>
    </li>
</ul>
  </div>
</div>
      