.orange-bg {
    background-color: #F79221;
}

.navbar-custom {
    height: 300px;
  }

  .border-2 {
    border-width:2px !important;
}

.btn:hover {
    background-color: black !important;
    color: #F79221 !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

