<app-toolbar></app-toolbar>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="col-md-12">
        <img src="assets/images/aboutMe.svg" class="mx-auto d-block" width="750" alt="Me!">
      </div>
      <br><br>
      <h3 class="text-mont text-center">About Me</h3>
      <p>Hey! I’m Cassie! I’m a freelance graphic designer, illustrator, printmaker 
        and wannabe <br>front end web developer, specializing in logo design, brand identity, 
        UX / UI, and illustration. :)
      </p>
      <br><br>
      <hr>
    </div>
  </div>
</div>
<div class="container mb-5 mt-5">
    <div class="card mb-12 border-no">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="assets/images/vans.svg" class="card-img" alt="Shoe">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <p class="card-text pt-5">I’m from sunny Southern California and currently 
                live in St. Louis, MO. My work is largely inspired by my beachy upbringing and early 
                90’s Nickelodeon (Ren & Stimpy FTW 🤠). I draw inspiration from the So Cal skate and 
                surf culture and am endlessly inspired by visual artists like Big Daddy Roth, Rick Griffin, 
                Wayne Wright, Raymond Pettibon, Bill Ogden, R. Crumb, Mike Kelley, Nina Katchadourian, Jeffrey Vallance, as well as musicians 
                like the Descendents, Minutemen, and Talking Heads.</p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="card mb-12 border-no">
        <div class="row no-gutters">
          <div class="col-md-9">
            <div class="card-body">
              <p class="card-text text-right pt-5">I graduated with a MFA in Visual Art from Washington University 
                  in St. Louis in 2014, and I also hold a BFA in Printmaking from Cal State Long Beach (2012). 
                  I love turning my drawings into screen prints and have my own DIY printing studio set up in my basement where 
                  I crank out small editions.
            </p>
            </div>
          </div>
          <div class="col-md-3">
            <img src="assets/images/squeegee.svg" class="card-img" alt="Squeegee">
          </div>
        </div>
      </div>
      <br><br>
      <div class="card mb-12 border-no">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="assets/images/ace.svg" class="card-img" alt="Ace of Spades">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <p class="card-text pt-5">I have a bossy little chihuahua that I freakin’ adore. We call him Lemmy and, 
                  in our household, <a href="https://i.imgur.com/BhIunRs.gif" target="_blank">Lemmy is God</a>. I also ride bikes! When I'm not working on a creative project, 
                  noodling with code, or cuddling with Lemmy I’m usually out shredding on my single speed Nature Boi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
<app-footer></app-footer>

