<div class="container">
  <hr>
  <h3 class="text-mont text-center pt-5">Recent Work</h3>
</div>
  <div class="row" id="gallery">
    <div class="col-12 col-sm-6 col-lg-4"
    *ngFor="let image of images; let i = index">
        <img src="{{ image.thumbnail }}" (click)="openModal();currentSlide(i+1)" 
        class="hover-shadow cursor mb-4 rounded">
    </div>
  </div>
  <div id="imgModal" class="slide-modal">
    <span class="close cursor" (click)="closeModal()">&times;</span>
    <div class="slide-modal-content">
        <div class="img-slides"
        *ngFor="let image of images; let i = index">
            <img src="{{ image.thumbnail }}" alt="{{ image.title }}">
            <p class="pt-3 w-100 text-center"><i>{{ image.caption }}</i></p>
        </div>
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
  </div>
  <hr>
