<!--Testing Lightbox Gallery Below-->
<div class="container">
    <hr>
    <h3 class="text-mont text-center">Recent Work</h3>
    <div class="row">
      <a href="assets/images/photos/IMG_8460.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
        <img src="assets/images/photos/IMG_8460.jpg" class="img-fluid rounded">
      </a>
      <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
        <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
      </a>
      <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
        <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
      </a>
    </div>
    <div class="row">
      <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
        <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">
      </a>
      <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
        <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded">
      </a>
      <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
        <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded">
      </a>
    </div>
  </div>
