<!--do i really need this?<a name="top"></a>-->
<div class="box">
  <app-navbar></app-navbar>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-bg flex-column">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 margin-logo">
        <a class="navbar-brand" routerLink="/home"> <!--not working!-->
          <img src="assets/images/cjLogoBricks.svg" class="img-fluid" width="130" height="140" alt="Logo">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 margin-cj">
        <img
          src="assets/images/cjFull02.svg"
          alt="jumbotron-image"
          class="mx-auto d-block image-fluid"
          width="750px"
        />
      </div>
    </div>
  </div>
</div> 