/*.green-bg {
    background-color: #B0D57D;
}

.header-custom {
    max-height: 500px;
  }

  .jumbotron {
    color: white;
    background-image: url("/assets/images/bgTest2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }*/

  .jumbotron-bg {
    position: relative;
    background-image: url("/assets/images/bgTest4.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    z-index: -2;
  }

  /*.jumbotron {
    background-image: url("/assets/images/bgTest2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }*/

  .box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /*flex-direction: column;*/
    text-align: center;
  }
  
  /*.box div {
    width: 100%;
    height: 540px;
    background-image: url("/assets/images/bgTest4.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
  }*/

  .margin-cj {
    margin-top: -65px;
    z-index: -1;
  }

  .margin-logo {
    margin-top: -40px;
  }

  .logo-z {
    z-index: 1 !important;
  }