  .jumbotron-bg {
    position: relative;
    background-image: url("/assets/images/bgTest4.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    z-index: -2;
  }

  .box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /*flex-direction: column;*/
    text-align: center;
  }

  .margin-cj {
    margin-top: -65px;
    z-index: -1;
  }

  .margin-logo {
    margin-top: -40px;
  }

  .logo-z {
    z-index: 1 !important;
  }