<!--do i really need this?<a name="top"></a>-->
<div class="box">
  <app-navbar></app-navbar>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-bg flex-column">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 margin-logo">
        <a class="navbar-brand" routerLink="/home"> <!--not working!-->
          <img src="assets/images/cjLogoBricks.svg" class="img-fluid" width="130" height="140" alt="Logo">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 margin-cj">
        <img
          src="assets/images/cjFull02.svg"
          alt="jumbotron-image"
          class="mx-auto d-block image-fluid"
          width="750px"
        />
      </div>
    </div>
  </div>
</div> 
      
      
      
      <!--use code below if all else fails!
      <div class="box">
        <div>
          <img
          src="assets/images/cjFull.svg"
          alt="jumbotron-image"
          class="img-fluid"
          width="750px"
        />
        </div>
        <app-navbar></app-navbar>
      </div>-->




<!--<div class="jumbotron">
        <a class="navbar-brand" routerLink="/home">
          <img src="assets/images/cjLogo.svg" class="img-fluid" width="120" height="120" alt="">
        </a>
        <img
          src="assets/images/cjFull.svg"
          alt="jumbotron-image"
          class="img-fluid"
          width="750px"
        />
      </div>-->



<!--<div class="jumbotron jumbotron-fluid green-bg header-custom">
    <div class="container">
      <div>
        <a class="navbar-brand" routerLink="/home">
          <img src="assets/images/cjLogo.svg" class="img-fluid" width="120" height="120" alt="">
        </a>
        <app-navbar></app-navbar>
      <h1>Cassie Jones</h1>
      <p class="lead">Creative Weirdo</p>
    </div>
    </div>
  </div>
<p>header works!</p>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Bootstrap Tutorial</h1>
      <p>Bootstrap is the most popular HTML, CSS...</p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>-->

  <!--jumbotron fail below!
<div class="box">
  <app-navbar></app-navbar>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-bg flex-column">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <a class="navbar-brand" routerLink="/home">
          <img src="assets/images/cjLogo.svg" class="img-fluid" width="140" height="140" alt="Logo">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img
          src="assets/images/cjFull.svg"
          alt="jumbotron-image"
          class="mx-auto d-block"
          width="750px"
        />
      </div>
    </div>
  </div>
</div>-->  