.orange-bg {
    background-color: #F79221;
}

.navbar-custom {
    height: 300px;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


  .box {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
  }
  
  .box div {
    width: 100%;
    height: 60px;
    /*background-color: black;*/
    background-image: url("/assets/images/bricks.svg");;
  }
  
  .orange-bg {
    height: 400px;
    background-color: #F79221;
  }

  .logo-pad {
      padding-top: -200px;
  }