<!--<nav class="navbar fixed-bottom orange-bg navbar-custom">
    <nav class="container">
        <a class="navbar-brand" routerLink="/home">
            <img src="assets/images/cjLogo.svg" width="140" alt="CJ logo">
        </a>
      </nav>
</nav>-->
<div class="box">
    <div></div>
  </div>
  <nav class="navbar navbar-expand-sm justify-content-center orange-bg flex-column">
    <!-- Brand/logo -->
    <div class="row">
      <div class="col-sm-12 logo-pad">
        <a routerLink="/home">
          <img src="assets/images/cjLogoDabs.svg" alt="logo" style="width:140px;">
        </a>
      </div>
    </div>
  </nav>